# Backend - Django / Python

Backend/venv/
Backend/**pycache**/
Backend/*/**pycache**/
Backend/*.pyc
Backend/*/*.pyc
Backend/core/.env
Backend/staticfiles/
Backend/*.env

# Frontend - React / Vite

Frontend/node_modules/
Frontend/dist/
Frontend/.env

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
